/* default css styles*/
:root {
    /* color pallete 1 */
    --background-color: #484d5c;
    --font-color: #c0ccd4;
    --header-color: #ffce00;
    --header-bg-color: #c0ccd4;

    /* color pallete 2 */
    /* --background-color: #00b4d8;
    --font-color: #FAC748;
    --header-color: #FAC748;
    --header-bg-color: #03045e; */

    /* color pallete 3 */
    /* --background-color: #00b4d8;
    --font-color: #FAC748;
    --header-color: #FAC748;
    --header-bg-color: #03045e; */

    /* color pallete 4 */
    /* --background-color: #00b4d8;
    --font-color: #FAC748;
    --header-color: #FAC748;
    --header-bg-color: #03045e; */

    /* color pallete 5 */
    /* --background-color: #00b4d8;
    --font-color: #FAC748;
    --header-color: #FAC748;
    --header-bg-color: #03045e; */
  }
  

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BROAD STYLES */
    body {
        background-color: var(--background-color);
        color: var(--font-color);
        font-family: 'Cardo', serif;
    }

    section, footer {
        display: flex;
        padding: 20px 10px;
    }

    /* .tiles {
        margin: 10px 20px;
    } */

    h1, h2 {
        color: var(--header-color);
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        background-color: var(--header-bg-color);
        padding: 10px;
        font-weight: bold;
        text-align: right;
        border-top-right-radius: 15px 15px; 
        border-bottom-right-radius: 15px 15px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    h3 {
        color: var(--header-color);
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        text-align: right;
        text-transform: uppercase;
        padding: 0px 10px 10px 100px;
        font-weight: bold;
        border-right: 4px solid var(--header-color);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        min-width: 250px;
        flex-basis: 0;
    }
/* END BROAD STYLES */



/* HEADER */
    header {
        background-color: var(--background-color);
        display: flex;
        justify-content: space-between;
        padding: 20px 35px 20px 0px;
        align-items: center;
        flex-wrap: wrap;
    }
    
    header h1 {
        font-size: 36px;
        padding: 5px 20px 5px 50px;
    }

    header a {
        text-decoration: none;
        color: var(--header-color);
    }

    header nav {
        margin: 7px 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header nav ul li a {
        padding: 10px 5px;
        font-weight: lighter;
        font-size: 1.55vw;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    header span {
        padding: 0 10px;
        border-bottom: 3px solid var(--header-color);
    }

/* END HEADER */


/* HERO */
    .hero {
        background-image: url("../images/hero-img.jpg");
        background-size: cover;
        background-attachment: relative;
        background-position: 0px -420px;
        position: relative;
        min-height: 200px;
    }

    .hero div {
        position: absolute;
        bottom: 20px;
        right: 60px;
    }

    .hero h2 {
        border-radius: 10px 10px;
    }

    .hero img {
        height: 100px;
        width: 100px;
    }
/* END HERO */


/* ABOUT ME */
    #about-me {
        min-height: 200px;
    }

    #about-me p {
        padding: 0px 25px 10px 25px;
    }

/* END ABOUT ME */


/* WORK */


    /* .tiles {
        flex-direction: column;
        flex: 1;

    } */
    .tiles {
        border: 3px solid var(--header-bg-color);
        text-decoration: none;
        color: var(--header-color);
        /* padding: 0px 20px 0px 20px; */
        margin: 10px;
        min-width: 200px;
        min-height: 200px;
        flex-shrink: 0;        
        justify-content: space-between;
        /* flex: 1; */
    }
    .big-tile {        
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
        flex: 1;
        margin: 5px auto;
    }

    .small-tiles {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-shrink: 0;
        margin: 5px auto;
    }



    .small-tiles {
        background-size: cover;
        position: fixed;
    }

    /* .tile-title {
        position: relative;
        bottom: 10px;
        left: 0px;
    } */


    #tile01 {
        background-image: url("../images/tile01-Surf-Report.jpg");
        background-position: -50px 0px;
        /* min-height: 200px;
        min-width: 200px; */
    }
    
    #tile02 {
        background-image: url("../images/tile02-LED-Wall.jpg");
        background-position: -50px 0px;
        /* min-height: 200px;
        min-width: 200px; */
    }
    #tile03 {
        background-image: url("../images/tile03-Calculator.jpg");
        background-position: -50px 0px;
        /* min-height: 200px;
        min-width: 200px; */
    }

    #tile04 {
        background-image: url("../images/tile04-Horiseon.png");
        background-position: -50px 0px;
        /* min-height: 200px;
        min-width: 200px; */
    }

    #tile05 {
        background-image: url("../images/tile05-Run-Buddy.png");
        background-position: -50px 0px;
        /* min-height: 200px;
        min-width: 200px; */
    }

/* END WORK */



/* FOOTER */
    .contact-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .contact-info div {
        flex: 1 0 auto;
        padding: 10px 20px;
    }

    .contact-info a {
        text-decoration: none;
        color: var(--header-color);
    }

    .contact-info span {
        padding: 0 10px;
        border-bottom: 3px solid var(--header-color);
    }

/* END FOOTER */


/* UTILITY */



/* END UTILITY */


/* hover */
.big-tile:hover {
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
}

header nav ul li a:hover {
    color: var(--font-color);
    
}

header span:hover {
    border-color: var(--font-color);
}

/* hover */

/* RESPONSIVE*/
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }

    h3 {
        min-width: 125px;
        padding-left: 5px;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
}
    /* END RESPONSIVE */